{% extends 'inventory/base.html' %}

{% load static %}

{% block title %}Update ingredient - Django Delights{% endblock %}

{% block content %}
    <div class="form">
        <h2>Update ingredient</h2>
        <form action="" method="POST" id="update_ingredient_form">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <div class="neighbour-buttons">
            <button type="submit" form="update_ingredient_form" class="btn">Update</button>
            <a href="{% url 'delete_ingredient' object.id %}" class="btn">Delete</a>
            <a href="{% url 'ingredients' %}" class="btn">Cancel</a>
        </div>
    </div>
{% endblock %}