{% extends 'inventory/base.html' %}

{% load static %}

{% block title %}Add recipe requirement - Django Delights{% endblock %}

{% block content %}
    <div class="form">
        <h2>Add recipe requirement</h2>
        <form action="" method="POST" id="add_recipe_req_form">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <div class="neighbour-buttons">
            <button type="submit" form="add_recipe_req_form" class="btn">Add</button>
            <a href="{% url 'recipes' %}" class="btn">Cancel</a>
        </div>
    </div>
{% endblock %}