{% extends 'inventory/base.html' %}

{% block title %}Ingredients - Django Delights{% endblock %}

{% load static %}

{% block content %}
<div class="center-table">
    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price per unit</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in object_list %}
            <tr id="table-bigger">
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }} {{ ingredient.unit }}</td>
                <td>${{ ingredient.price_per_unit|stringformat:".2f" }}</td>
                <td><a href="{% url 'update_ingredient' ingredient.id %}" class="btn">Update</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="neighbour-buttons">
        <a href="{% url 'add_ingredient' %}" class="btn">Add ingredient</a>
        <a href="{% url 'home' %}" class="btn">Cancel</a>
    </div>
</div>

{% endblock %}