{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Django Delights{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/static.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400&family=Racing+Sans+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="head">
            <a href="{% url 'home' %}" id="logo-a"><h1 id="logo">DJANGO DELIGHTS</h1></a>
            {% if user.is_authenticated %}
            <a id="log_btn" class="btn" href="{% url 'logout' %}">Log Out</a>
            <p id="message">How's your day, {{ user.username }}?</p>
            <div class="option">
                <a class="btn" href="{% url 'recipes' %}">Recipes</a>
                <a class="btn" href="{% url 'ingredients' %}">Ingredients</a>
                <a class="btn" href="{% url 'purchases' %}">Purchases</a>
            </div>
            {% endif %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
<footer>
    <p class="footer-text">2022, github.com/igorstalmach/</p>
</footer>
</html>