{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Django Delights{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/static.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Racing+Sans+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="head">
            <h1 id="logo">DJANGO DELIGHTS</h1>
            {% if user.is_authenticated %}
            <p class="log_btn">Log Out</p>
            <p id="message">How's your day, {{ user.username }}?</p>
            <div class="option">
                <p>Recipes</p>
                <p>Ingredients</p>
                <p>Purchases</p>
            </div>
            {% endif %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>