{% extends 'inventory/base.html' %}

{% load static %}

{% block title %}Django Delights{% endblock %}

{% block content %}
<div class="center-table">
    <h2>Revenue Report</h2>
    <table id="table-smaller">
        <tr>
            <th>Revenue</th>
            <td>${{ revenue|stringformat:".2f" }}</td>
          </tr>
          <tr>
            <th>Costs</th>
            <td>${{ costs|stringformat:".2f" }}</td>
          </tr>
          <tr>
            <th>Profit</th>
            <td>${{ profit|stringformat:".2f" }}</td>
          </tr>
    </table>

    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price per unit</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }} {{ ingredient.unit }}</td>
                <td>${{ ingredient.price_per_unit|stringformat:".2f" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Recipes</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Requirements</th>
                <th>Price per unit</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td class="flush_left">
                    <ul>
                        {% for requirement in recipe.reciperequirement_set.all %}
                        <li>{{ requirement.ingredient.name }}, Qty {{ requirement.quantity }} {{ requirement.unit }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>${{ recipe.price|stringformat:".2f" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Purchases</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.item.name }}</td>
                <td>{{ purchase.quantity }}x</td>
                <td>${{ purchase.item.price }}</td>
                <td>{{ purchase.date }} at {{ purchase.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}