* {
    background-color: #B4EDCC;
}

#logo {
    color: #4F695A;
    font-family: 'Racing Sans One', cursive;
    font-size: 60px;
    margin: 10px;
    padding-left: 60px;
    justify-self: center;
}

p {
    font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    padding-left: 60px;
    margin: 10px;
    color: #306948;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}